/**
 * Basic typography style for copy text
 */

body {
  color: $body-color;
}

.text-astral {color: $astral; }
.text-iris { color: $iris-blue; }
.text-gray-300 { color: $gray-300; }

.font-size-14 { font-size: 0.875rem; }
