.movie-card {
  @extend .rounded-3;

  position: relative;
  overflow: hidden;
  height: 300px;

  .movie-poster {
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .movie-score {
    @extend .rounded-pill;

    padding: 0.375rem 0.5rem;
    background-color: rgba($black, 0.5);
    font-weight: 500;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 0.625rem;
    display: flex;
    align-items: center;
  }

  .buttons-wrapper.desktop {
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.75);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;

    &:hover {
      opacity: 1;
    }
  }

  .buttons-wrapper.mobile {
    .big-button {
      @extend .rounded-pill;

      background-color: $amaranth;
      position: absolute;
      bottom: -50px;
      height: 100px;
      width: 100px;
      left: -50px;

      .icon {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }
}

@include media-breakpoint-down(xxl) {
  .movie-card {
    height: 245px;
  }
}

@include media-breakpoint-down(md) {
  .movie-card {
    height: 370px;
  }
}

@include media-breakpoint-down(sm) {
  .movie-card {
    height: 370px;
    max-width: 240px;
    margin: 0 auto;
  }
}