.movie-card {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 200px;
  border-radius: $border-radius-xl;

  .movie-poster {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .buttons-wrapper.desktop {
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.75);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;

    &:hover {
      opacity: 1;
    }
  }

  .buttons-wrapper.mobile {
    .big-button {
      @extend .rounded-pill;

      background-color: $amaranth;
      position: absolute;
      bottom: -50px;
      height: 100px;
      width: 100px;
      left: -50px;

      .icon {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }
}

@include media-breakpoint-down(xxl) {
  .movie-card {
    height: 240px;
    width: 160px;
  }
}

@include media-breakpoint-down(md) {
  .movie-card {
    height: 370px;
    width: 246px;
  }
}

@include media-breakpoint-down(sm) {
  .movie-card {
    height: 370px;
    max-width: 246px;
    margin: 0 auto;
  }
}